{{#*inline "modal_id"}}burd{{/inline}}
{{#*inline "modal_image"}}/static/images/burd/instructions.png{{/inline}}
{{#*inline "company_name"}}NASA{{/inline}}
{{#*inline "project_name"}}Broad Use Reconfigurable Drones{{/inline}}
{{#*inline "modal_content"}}
              <p class="modal-text">
                Coming soon...
              </p>
{{/inline}}
{{> image-modal-base }}