{{#*inline "modal_id"}}cf-ea-revamp{{/inline}}
{{#*inline "modal_image"}}/static/images/azure.png{{/inline}}
{{#*inline "company_name"}}COUNTRY Financial{{/inline}}
{{#*inline "project_name"}}Enterprise Architecture Revamp{{/inline}}
{{#*inline "modal_content"}}
              <p class="modal-text">
                Coming soon...
              </p>
{{/inline}}
{{> image-modal-base }}