{{#*inline "modal_id"}}luis{{/inline}}
{{#*inline "modal_image"}}/static/images/luis.png{{/inline}}
{{#*inline "company_name"}}COUNTRY Financial{{/inline}}
{{#*inline "project_name"}}Automated Call Center Customer Verification{{/inline}}
{{#*inline "modal_content"}}
              <p class="modal-text">
                Coming soon...
              </p>
{{/inline}}
{{> image-modal-base }}