{{#*inline "modal_id"}}twilio{{/inline}}
{{#*inline "modal_image"}}/static/images/twilio.png{{/inline}}
{{#*inline "company_name"}}Twilio{{/inline}}
{{#*inline "project_name"}}Internal Billing Tools{{/inline}}
{{#*inline "modal_content"}}
              <p class="modal-text">
                Coming soon...
              </p>
{{/inline}}
{{> image-modal-base }}