<section class="content-section" style="padding-top: 2rem; padding-bottom: 2rem" id="about">
  <aside class="clients">
    <div class="row">
      <div class="col-md-12" style="text-align: center">
        {{#each affiliations}}
        <a href="{{ this.link }}" target="_blank" rel="noopener noreferrer" class="client-link">
          <img class="center-block" src="{{ this.img }}" alt="{{ this.alt }}">
        </a>
        {{/each}}
      </div>
    </div>
  </aside>
</section>